#output-area {
  margin: 0px 30px;
  max-width: 750px;
}

#display-text {
  text-align: left;
  font-size: 14px;
}

#generate-button {
  margin: 15px 0px;
}

.display-4 {
  margin: 25px;
}

.form-group {
  flex: 1;
  display: flex;
}

.form-control {
  flex: 1;
  margin: 0px 5px;
}

.jumbotron {
  padding: 20px;
  background: rgba(10, 10, 10, 0.5);
}

.btn-success {
  margin: 35px auto;
}

#words-per-paragraph {
  width: 100%;
}

#number-of-words {
  width: 100%;
}

@media (max-width: 769px) {
  #words-per-paragraph {
    width: auto;
  }

  #number-of-words {
    width: auto;
  }
 }

 label {
   margin: 0 5px;
 }

body {
  background: #222 url('/stars.jpg') top center no-repeat;
  background-size: cover;
  color: white;
}

.copy-button {
  display: none;
}

#output-area {
  margin: auto;
  max-width: 90%;
  padding: 20px;
  background: rgba(255,255,255,0.7);
}
