#output-area {
  margin: 75px 30px;
  max-width: 750px;
}

#generate-button {
  margin: 15px 0px;
}

.form-inline {
  background: yellow;
}

.form-group {
  flex: 1;
  /*margin: 15px;*/
  display: flex;
  background: red;
}

.form-control {
  flex: 1;
  margin: 0px 5px;
  width: 10px;
}
