#output-area {
  margin: 0px 30px;
  max-width: 750px;
}

#display-text {
  text-align: left;
}

#generate-button {
  margin: 15px 0px;
}

.display-4 {
  margin: 25px;
}

.form-group {
  flex: 1;
  display: flex;
}

.form-control {
  flex: 1;
  margin: 0px 5px;
  width: 10px;
}

.jumbotron {
  padding: 20px;
}

.btn-success {
  margin: 35px auto;
}
