.active {
color: blue;
}

.inactive {
  color: grey;
}

ul {
    margin-top: 40px;
    padding: 0;
    text-align: justify;
  }

li {
  color: grey;
  list-style: none;
  display: inline-block;
  margin: 2%;
}

  div {

  }


/*
div, ul, li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

  #word-grid{
    margin-bottom: 40px;
    text-align: justify;
  }

  #word-grid li{
    display: inline-block;
    width: 23%;
    padding-top: 23%;
    margin-bottom: 2.5%;
  }
  */
